@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
  }