.avis-google {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 1.5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 0 auto;
  
    &__title {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem;
      text-align: center;
      color: #222;
    }
  
    .elfsight-app-0c122d55-2719-49df-bc7e-475dd85ce7c5 {
      min-height: 300px;
    }
  }