@use 'variables' as v;
@use 'mixins' as m;

.awards-page {
    padding: 2rem;
    background: v.$white;
    min-height: 100vh;
    text-align: center;
  
    .awards-title {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      color: v.$iron-gray;
    }
  
    .awards-description {
      font-size: 1.2rem;
      margin : 2rem auto;
      color: v.$iron-gray;
      font-family: v.$font-title;
      line-height: 1.6;
    }
  
    .awards-gallery {
        display: grid;
        margin-top: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        justify-items: center;
      
        .awards-photo-wrapper {
          height: 400px; // conteneur assez haut
          width: 100%;
          max-width: 600px;
          background: v.$white;
          border-radius: 10px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          padding: 10px; // pour éviter que l’image colle aux bords
      
          img {
            max-width: 100%;
            max-height: 100%;
            height: auto;
            width: auto;
            display: block;
            transition: transform 0.3s ease;
            margin-bottom: 2rem;
      
            &:hover {
              transform: scale(1.02);
            }
          }
        }
      }
      
  
    .awards-modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.85);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
  
      .modal-image {
        max-width: 90%;
        max-height: 80%;
        border-radius: 10px;
      }
  
      .close-button,
      .nav-button {
        position: absolute;
        background: transparent;
        border: none;
        color: v.$white;
        font-size: 2rem;
        cursor: pointer;
        padding: 1rem;
        z-index: 1001;
      }
  
      .close-button {
        top: 20px;
        right: 30px;
      }
  
      .nav-button.left {
        left: 5%;
      }
  
      .nav-button.right {
        right: 5%;
      }
    }
  }

.awards-extra-image {
    margin: 3rem auto;
    max-width: 1000px;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
  
    img {
      width: 100%;
      height: auto;
      border-radius: 15px;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
      object-fit: cover;
    }
  }